<p style="color: green"><%= notice %></p>

<% content_for :title, "Friend wanted posts" %>

<div id="friend_wanted_posts">
  <% @friend_wanted_posts.each do |friend_wanted_post| %>
    <%= render friend_wanted_post %>
  <% end %>
</div>
