<p style="color: green"><%= notice %></p>

<% content_for :title, "Opponents wanted posts" %>

<div id="opponents_wanted_posts">
  <% @opponents_wanted_posts.each do |opponents_wanted_post| %>
    <%= render opponents_wanted_post %>
  <% end %>
</div>
